{% extends 'main/common/base.html' %}
{% block js %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            function jump(count) {
                window.setTimeout(function(){
                    count--;
                    if(count > 0) {
                        $('#num').html(count);
                        jump(count);
                    } else {
                        location.href="{{ url_for('auth.login') }}";
                    }
                }, 1000);
            }
            jump(10);
        });
    </script>
{% endblock %}
{% block title %}
    {{ super() }}
    重置密码
{% endblock %}
{% block content %}
    <div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="page-header">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    {% if loop.index == 1 %}
                                        <h1>
                                        尊敬的 {{ message }}
                                        </h1>
                                        <h3>
                                        您正在重置您的账户密码！
                                        </h3>
                                    {% elif loop.index == 2 %}
                                        <div class="message">
                                            <p>{{ message }}</p>
                                            <p>页面将在<code id="num"></code> 秒后跳转至登录界面，如无法跳转，请点击 <a class="btn btn-sm btn-primary" href="{{ url_for('auth.login') }}"> 登录</a></p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}